<form action="/display_puppy" method="POST">
  <input type="text" name="name" value="name">
  <input type="text" name="breed" value="breed">
  <input type="text" name="age" value="age">
  <input id="submit" type="submit" name="" value="submit">
</form>
