    <form method="POST" action='/'>
      <h1>Name:<input type="text" name="name" value="name"></h1>
      <h1>Breed:<input type="text" name="breed" value="breed"></h1>
      <h1>Age:<input type="text" name="age" value="age"></h1>
      <input id="submit" type="submit" value="submit">
    </form>
